/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer

# Signing materials should stay local.
*.p12
*.cer
*.p7b
*.keystore
